aiohttp
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
Babel
backoff
bcrypt
beautifulsoup4
bleach
boto3
botocore
build
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
coloredlogs
comm
contourpy
cryptography
cycler
dataclasses-json
debugpy
decorator
deepdiff
defusedxml
Deprecated
distro
dnspython
email_validator
emoji
executing
fastapi
fastapi-cli
fastjsonschema
filelock
filetype
flatbuffers
fonttools
fqdn
frozenlist
fsspec
google-auth
googleapis-common-protos
greenlet
grpcio
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
iopath
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
kubernetes
langchain
langchain-aws
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langdetect
langsmith
layoutparser
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mmh3
monotonic
mpmath
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
onnx
onnxruntime
openai
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
ordered-set
orjson
overrides
packaging
pandas
pandocfilters
parso
pdf2image
pdfminer.six
pdfplumber
pexpect
pillow
pillow_heif
platformdirs
portalocker
posthog
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1_modules
pycparser
pycryptodome
pydantic
pydantic_core
Pygments
pyparsing
pypdf
pypdfium2
PyPika
pyproject_hooks
pytesseract
python-dateutil
python-dotenv
python-iso639
python-json-logger
python-magic
python-multipart
pytz
PyYAML
pyzmq
qtconsole
QtPy
rapidfuzz
referencing
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
s3transfer
safetensors
scipy
Send2Trash
setuptools
shellingham
six
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
sympy
tabulate
tenacity
terminado
tiktoken
timm
tinycss2
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
typing-inspect
typing_extensions
tzdata
ujson
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
uri-template
urllib3
uvicorn
uvloop
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
wheel
widgetsnbextension
wrapt
yarl
zipp
awslambdaric
